#todo-error{
  color: red;
  font-size: 2em;
}

html,body{
  margin: 0;
  height: 100%;

}

body{
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  overflow: hidden;
}

.overflow{
  overflow: hidden;
  padding-right: 0px
}